@use "sass:map";
@import "variables";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.inputGroupWrapper {
    margin-bottom: 1.5rem;
}

.label {
    color: map.get($colors, "purple");
    font-weight: bold;
    margin: 0;
    font-size: 1.125rem;
}

.addItemBtn {
    background-color: transparent;
    border: 1px solid map.get($colors, "purple");
    border-radius: 0.5rem;
    padding: 1rem 1.125rem;
    color: map.get($colors, "purple");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
        font-weight: 600;
        margin-left: 0.5rem;
        display: block;
    }
}
