@use "sass:map";
@import "variables";
@import "mixins";

.ctasWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    gap: 0.5rem;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.5rem;
    }
}

.editBtn,
.deleteBtn,
.markAsPaidBtn {
    span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.editBtn,
.deleteBtn {
    border: 1px solid map.get($colors, "purple");
    background-color: transparent;
    color: map.get($colors, "purple");
}

.markAsPaidBtn {
    border: 0;
    background-color: map.get($colors, "purple");
    color: map.get($colors, "white");
}
