@use "sass:map";
@import "variables";


.label {
    color: map.get($colors, "purple");
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}

.section {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    box-sizing: border-box;

    > div {
        max-width: 8.5rem;
    }
}