@use "sass:map";
@import "variables";
@import "mixins";

%display-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.label {
    color: map.get($colors, "purple");
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}

.generalInfosection,
.contactDataSection {
    @extend %display-grid;

    padding: 2.5rem 1.5rem;
    border-bottom: 1px solid #efefef;
}

.inputsGroup {
    @extend %display-grid;
}

.addressGroup {
    @extend %display-grid;
}

.addressSubGroup {
    @extend %display-grid;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        justify-content: space-between;
        grid-template-columns: repeat(3, 17vw);
    }

    @include breakpoint-min(map.get($breakpoints, "lg")) {
        justify-content: space-between;
        grid-template-columns: repeat(3, 12vw);
    }
}

.productListSection {
    padding: 2.5rem 1.5rem;
    border-bottom: 1px solid #efefef;
}

.submitBtn {
    background-color: map.get($colors, "purple");
    color: white;
}

.ctasWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2rem 1.5rem;
}
