@use "sass:map";
@import "variables";

.wrapper {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.label {
    color: map.get($colors, "purple");
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    box-sizing: border-box;

    > div {
        max-width: 8.5rem;
    }
}

.submitBtn {
    background-color: map.get($colors, "purple");
    color: white;
}

.ctasWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.102);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 1rem;
    background: var(--cardBackgroundColor);
}
