@use "sass:map";
@import "variables";

.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.root {
    background-color: map.get($colors, "light-grey");
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &.isChecked {
        background-color: map.get($colors, "purple");
        border: 0;
    }
}
.root:hover {
    border: 1px solid map.get($colors, "purple");
    cursor: pointer;
}

.indicator {
    color: #fff;
}

.label {
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    color: map.get($colors, "black-70");
}
