@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        padding: 2rem;
    }

    p {
        margin: 0;
    }
}

.leftPart {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include breakpoint-max(map.get($breakpoints, "md")) {
        justify-content: space-between;
    }
}

.rightPart {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hashtag {
    color: map.get($colors, "blue-grey");
}

.id {
    color: map.get($colors, "black-70");
    font-weight: 700;
}

.dueDate {
    color: map.get($colors, "blue-grey");
}

.customerName {
    color: map.get($colors, "blue-grey");
}

.amount {
    color: map.get($colors, "black-70");
    font-weight: 700;
    margin-right: 1rem;
}
