@use "sass:map";
@import "variables";
@import "mixins";

.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hashtag {
    color: var(--textColorSecondary);
}

.id {
    color: var(--textColor);
    font-weight: 700;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.dueDate {
    color: var(--textColorSecondary);
}

.customerName {
    color: var(--textColorSecondary);
}

.amount {
    color: var(--textColor);
    font-weight: 700;
}
