@use "sass:map";
@import "variables";
@import "mixins";

.wrapper p {
    margin: 0;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hashtag {
    color: map.get($colors, "blue-grey");
}

.id {
    color: map.get($colors, "black-70");
    font-weight: 700;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

p.dueDate {
    color: map.get($colors, "blue-grey");
    margin-bottom: 0.5rem;
}

.customerName {
    color: map.get($colors, "blue-grey");
}

.amount {
    color: map.get($colors, "black-70");
    font-weight: 700;
}
