@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    min-height: 100vh;
    background-color: var(--appBackgroundColor);
    transition: background-color 0.2s;
    color: var(--textColor);

    @include breakpoint-min(map.get($breakpoints, "md")) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;

    @include breakpoint-min(map.get($breakpoints, "xl")) {
        width: 45.625rem;
        margin-left: 6.25rem;
    }
}

.ctaGroup {
    display: flex;
    flex-direction: column;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        flex-direction: row;
    }
}

.generalDetail {
    display: flex;
    flex-direction: column;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        gap: 1.5rem;
    }
}

.invoiceID {
    color: map.get($colors, "purple");
}

.header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generalDetailItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.generalDetailItemWrapper {
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.propertyLabel {
    font-weight: 600;
    display: flex;
    gap: 0.5rem;

    > span {
        margin-top: 3px;
    }
}

.companyAndClientWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include breakpoint-min(map.get($breakpoints, "sm")) {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.personCard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.personCardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personDetailItemWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addressWrapper {
    display: flex;
    gap: 1rem;

    > div {
        margin-top: -0.2rem;
    }
}
