@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    min-height: 100vh;
    background-color: var(--appBackgroundColor);
    transition: background-color 0.2s;
    color: var(--textColor);

    @include breakpoint-min(map.get($breakpoints, "lg")) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;

    @include breakpoint-min(map.get($breakpoints, "lg")) {
        width: 45.625rem;
        margin-left: 6.25rem;
    }
}

.ctaGroupOnDesktop {
    @include breakpoint-max(map.get($breakpoints, "md")) {
        display: none;
    }
}

.statusAndCtasWrapper {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.statusWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        justify-content: initial;
        gap: 1.25rem;
    }
}

.CtaGroup {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        display: flex;
        gap: 0.5rem;
    }
}

.secondaryText {
    color: var(--textColorSecondary);
    margin: 0;
    line-height: 1.125rem;
}

.ctasWrapper {
    display: flex;
    justify-content: space-between;
}

.editBtn {
    background-color: var(--itemsCardBackgroundColor);
    color: var(--textColorSecondary);
}

.deleteBtn {
    background-color: map.get($colors, "red");
    color: map.get($colors, "white");
}

.markAsPaidBtn {
    background-color: map.get($colors, "purple");
    color: map.get($colors, "white");
}

.ctaGroupOnMobile {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        display: none;
    }
}
