@use "sass:map";

@import "variables";
@import "mixins";

:root {
    @include spread-map($light);
}

:root.theme-dark {
    @include spread-map($dark);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin: 0;
}

button {
    border: 0;
}
