@use "sass:map";
@import "variables";
@import "mixins";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: map.get($colors, "white-10");
  transition: background-color 0.2s;

  @include breakpoint-min(map.get($breakpoints, "xl")) {
    flex-direction: row;
  }
}
