@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--navbarBackgroundColor);
}

.logo {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        width: 6.4375rem;
    }
}

.contentWrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.25rem 1.5rem;
}

.imgWrapper {
    padding-left: 1.5rem;
    border-left: 1px solid #494e6e;
}
