@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    color: map.get($colors, "black-70");
}

.description {
    color: map.get($colors, "blue-grey");
    text-align: center;
}
