@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        padding: 2rem;
    }
}

.secondaryText {
    color: map.get($colors, "blue-grey");
    margin: 0;
    line-height: 1.125rem;
}

.idAndSenderAddressWrapper {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        display: flex;
        justify-content: space-between;
    }
}

.invoiceId {
    @include breakpoint-min(map.get($breakpoints, "md")) {
        margin-bottom: 1rem;
    }
}

.hashtag {
    color: map.get($colors, "blue-grey");
}

.addressWrapper {
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 0.25rem;
    }
}

.descriptionWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.datesWrapper > div:last-child {
    margin-bottom: 2rem;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        margin-bottom: 0;
    }
}
.creationDateWrapper {
    margin-bottom: 2rem;
}

.clientName {
    margin-bottom: 0.25rem;
}

.propertyLabel {
    margin-bottom: 1em;
    display: inline-block;
}
