@use "sass:map";
@import "variables";
@import "mixins";

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    animation: overlayShow 150ms ease-in-out;
    z-index: z("overlay");
}

.title {
    margin: 0;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid #efefef;
}

.content {
    display: flex;
    flex-direction: column;
    z-index: z("modal");
    background: white;
    overflow: scroll;
    box-shadow: 8px;
    border-radius: 0.5rem;
    position: fixed;
    top: 0;
    bottom: 0;

    @include breakpoint-max(map.get($breakpoints, "sm")) {
        left: 0;
        right: 1rem;
        animation: contentShowOnMobile 0.2s;
    }

    @include breakpoint-min(map.get($breakpoints, "sm")) {
        right: 0;
        width: 75vw;
        animation: contentShowOnDesktop 0.2s;
    }

    @include breakpoint-min(map.get($breakpoints, "md")) {
        width: 60vw;
    }

    @include breakpoint-min(map.get($breakpoints, "lg")) {
        width: 45vw;
    }

    &:focus {
        outline: none;
    }
}

.iconButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShowOnMobile {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes contentShowOnDesktop {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}
