@use "sass:map";
@import "variables";
@import "mixins";

.deleteBtn {
    background-color: map.get($colors, "red");
    color: map.get($colors, "white");
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--textColor);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
