@use "sass:map";
@import "variables";
@import "mixins";

.deleteBtn {
    background-color: map.get($colors, "red");
    color: map.get($colors, "white-10");
}

.content {
    max-width: 28rem;
    max-height: 85vh;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: map.get($colors, "black-70");
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
