@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorMessage {
    color: red;
    font-size: 12px;
}

.label {
    color: map.get($colors, "blue-grey");
    font-size: 0.8125rem;
}

input.datePicker {
    height: 3rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid map.get($colors, "light-grey");
    font-size: 0.8125rem;
    padding: 0 1.125rem;
    line-height: 1.5rem;
    font-weight: bold;
    background-color: map.get($colors, "white-10");
    color: map.get($colors, "black-70");
    padding: 1rem;
    width: 100%;

    @include breakpoint-min(map.get($breakpoints, "md")) {
        font-size: 1rem;
    }

    &:focus,
    &:hover {
        outline: none;
        border-color: map.get($colors, "purple");
    }
}

.calendar {
    background-color: map.get($colors, "white-10");
    padding: 1.5rem;
    border: 0;
    box-shadow:
        0 0 0 1px map.get($colors, "light-grey"),
        0 4px 11px 0 rgba(0, 0, 0, 0.18);
}

.calendarIcon {
    pointer-events: none;
}

.day {
    font-weight: bold;
    transition: color 0.1s;
    margin: 0;
}
