@use "sass:map";
@import "variables";
@import "mixins";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: map.get($colors, "white-10");
}

.arrowBtn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.title {
    color: map.get($colors, "black-70");
    font-weight: bold;
    margin: 0;
}
