@use "sass:map";
@import "variables";
@import "mixins";

.react-datepicker__header.react-datepicker__header--custom {
  background-color: var(--inputBackgroundColor);
  border: 0;
}

.react-datepicker__day-names {
  display: none;
}

.react-datepicker__day--selected {
  background-color: map.get($colors, "purple");
  color: map.get($colors, "white");
  padding: 0.5rem;

  &:hover {
    background-color: map.get($colors, "purple");
    color: map.get($colors, "white");
  }
}

.react-datepicker__day:not(.react-datepicker__day--selected) {
  margin: 0.5rem;
  color: var(--textColor);

  &:hover {
    background-color: transparent;
    color: map.get($colors, "purple");
  }
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  top: 0;
  right: 0;
  padding: 1rem;
}
